# Project specific files
config.yaml
data/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

# mypy
.mypy_cache/
__pycache__old_requirements_backup.txt
__pycache__/
Modules/__pycache__/
